.display{
    height: 150px;
    width: 600px;
    align-self: center;
    background-color:rgb(236, 235, 233);
    font-size: 45px;
}
.result {
    height: 75px;
    width: 600px;
    align-self: center;
    background-color:rgb(153, 153, 153);
    font-size: 40px;
}

.calc-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.button-container {
    align-self: center;
    height: 500px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.button-container button {
    flex: 3 25%;
    height: 100px;
    font-size: 40px;
}

.operator {
    background-color:aqua;

}
.num{
    background-color:azure;
    
}