.display{
    height: 150px;
    width: 600px;
    align-self: center;
    background-color:rgb(236, 235, 233);
    font-size: 7vw;
}

.calc-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.button-container {
    align-self: center;
    height: 1000px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.button-container button {
    flex: 3 25%;
    height: 200px;
    font-size: 4vw;
}

.operator {
    background-color:aqua;

}
.num{
    background-color:azure;
    
}